<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	</head>
	<body>
		<div class="content">
			<div class="container errorContainer">
				<h3 class="errorMessage">{{ message }}</h3>
				<a href="/login" class="errorLink"><input class="errorButton" type="button" value="Powrót do logowania"></a>
			</div>
		</div>
	</body>
</html>