<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	</head>
	<body>
		<div class="header">
			<div class="container">
				<div class="hello">
					<h3>Witaj {{ app.session.get('login') }}</h3>
				</div>
				<div class="menu">
					<a href="/user">Strona główna</a>
					<a href="/upload/disc">Dodaj z dysku</a>
					<a href="/upload/link">Dodaj z linku</a>
					<a href="/logout">Wyloguj</a>
				</div>
			</div>
		</div>