<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>Logowanie i rejestracja</title>
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	</head>
	<body>
		<div class="content">
			<div class="login">
				<div class="container">
					<div class="title">
						<h3>Zaloguj się</h3>
					</div>
					<form method="POST" action="/check">
						<input type="text" name="username" placeholder="Login..." required>
						<input type="password" name="password" placeholder="Hasło..." required>
						<input type="submit" value="Zaloguj się">
					</form>
				</div>
			</div>
			<div class="register">
				<div class="container">
					<div class="title">
						<h3>Zarejestruj się</h3>
					</div>
					<form method="POST" action="/register">
						<input type="text" name="username" placeholder="Login..." required>
						<input type="password" name="password" placeholder="Hasło..." required>
						<input type="submit" value="Zarejestruj się">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>