{% include 'header.html.twig' with {'title': 'upload'} %}
		<div class="uploadSection">
			<div class="container">
				<div class="title">
					<h1>Upload photo</h1>
				</div>

				<form action="#" class="uploadForm" method="post" {{ form_enctype(form) }}>
    				{{ form_widget(form) }}

    				<input type="submit" value="Send photo" />
				</form>
			</div>
		</div>
{% include 'footer.html.twig' %}