{% include 'header.html.twig' with {'title': app.session.get('login')} %}
		<div class="mainSite">
			<div class="container">
				{% for type, messages in app.session.flashbag.all %}
					{% for message in messages %}
						{% if type == 'success' %}
							<div class="success">
								<h3>{{ message }}</h3>
							</div>
						{% endif %}
						{% if type == 'notice' %}
							<div class="notice">
								<h3>{{ message }}</h3>
							</div>
						{% endif %}
						{% if type == 'error' %}
							<div class="error">
								<h3>{{ message }}</h3>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% if images is defined %}
					{% for image in images %}
						<div id="{{image.id}}" class="foto">
							<div class="ramka"><img src="images/{{ asset(image.path) }}"></div>
							<div class="right">
								<div class="name"><h3>{{ image.name }}</h3></div>
								<div class="desc"><p>{{ image.desc }}</p></div>
								<div class="control">
									<a href="/remove/{{ image.id }}" class="remove">Remove photo</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
{% include 'footer.html.twig' %}