body
{
	width: 100%;
    padding: 0;
    margin: 0;
    color: #000;
    font-family: arial;
    font-size: 15px;
    position: relative;
}

.content
{
	width: 100%;
    position: absolute;
    overflow: hidden;
    top: 50%;
}

.login, .register
{
	display: inline-block;
    width: 100%;
    padding: 50px 0;
    margin-top:-3px;
}

.login{background: #4988bf;}
.register{background: #59ad58;}

.login .container,.register .container
{
	width: 75%;
    min-width: 900px;
    max-width: 1300px;
    display: table;
    margin: 0 auto;
}

.login .title,.register .title
{
	text-align: center;
    font-size: 40px;
    letter-spacing: -2px;
    color: #444;
    cursor: default;
    margin-bottom: 25px;
}

.login form,.register form
{
	display: table;
    margin: 0 auto 15px;
}

.login input[type="text"],.login input[type="password"],.register input[type="text"],.register input[type="password"]
{
	padding: 5px 9px;
    font-size: 13px;
    width: 200px;
    background: transparent;
    border: 3px solid #444;
    color: #fff;
    font-weight: 800;
    margin-right: 25px;
}

.login input[type="submit"],.register input[type="submit"]
{
	padding: 5px 9px;
    cursor: pointer;
    font-size: 13px;
    background: #444;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 800;
    margin-right: 25px;
}

.header
{
	width: 90%;
    overflow: hidden;
    height: 70px;
    background: #222;
    display: table;
    margin: 40px auto;
    border-radius: 60px;
}

.header .container
{
	overflow: hidden;
    height: 70px;
    width: 85%;
    display: table;
    margin: 0 auto;
}

.header .hello
{
	display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    cursor: default;
    line-height: 35px;
}

.header .menu
{
	float: right;
    margin: 27px 0;
}

.header .menu>a
{
	text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

.mainSite
{
	margin-top: 60px;
    width: 100%;
    overflow: hidden;
}

.mainSite .container
{
	width: 70%;
    display: table;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px;
    background: #fff;
}

.mainSite .foto
{
	width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    position:relative;
}

.foto .name {
    width: 100%;
}

.foto .name h3{
	font-size: 20px;
    letter-spacing: -1px;
    border-bottom: 2px solid #222;
    margin: 0 0 10px;
    padding: 0 0 7px 0px;
    color: #222;
    cursor: default;
}

.foto .ramka
{
    display: inline-block;
    margin: 0;
    width: 35%;
    overflow: hidden;
    border: 1px solid #aaa;
}

.foto .ramka img
{
	max-width: 600px;
    max-height: 2000px;
    width: 100%;
    display: block;
    cursor: pointer;
}

.foto .right {
	display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-left: 3%;
}

.foto .desc {
	width: 100%;
    display: block;
}

.foto .desc p {
	margin: 0 0 30px 0;
	line-height: 2em;
    font-size: 11px;
    color: #555;
    text-align: justify;
}

.foto .control
{
    width: 100%;
    height: 25px;
    background: #fff;
    border-top: 1px solid #aaa;
    position: absolute;
    bottom: 0;
}

.foto .control a
{
	text-decoration: none;
    display: inline-block;
    margin: 0 20px 0 20px;
    padding: 6px 0;
    color: #444;
    font-weight: 100;
    font-size: 12px;
    position: relative;
}

.foto .control .remove::before
{
	content: "";
    width: 20px;
    height: 21px;
    position: absolute;
    left: -21px;
    top: 2px;
    background: url("img/delete.png") no-repeat;
    background-size: 20px;
}

.foto .control .addText::before
{
	content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -34px;
    top: -10px;
    background: url("img/add.png") no-repeat;
    background-size: 36px;
}

.uploadSection
{
	width: 100%;
    overflow: hidden;
}

.uploadSection .container
{
	display: table;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px;
    background: #2196F3;
    min-width: 300px;
}

.uploadSection .title h1
{
	width: 100%;
    text-align: center;
    cursor: default;
    letter-spacing: -1px;
    color: #222;
    margin:0 0 25px;
}

#form
{
	width: 100%;
    overflow: hidden;
}

#form label
{
	width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #222;
}

#form input[type="text"],#form input[type="file"], textarea#form_desc
{
	width: 94%;
    margin-bottom: 15px;
    background: transparent;
    border: 3px solid #222;
    padding: 5px;
    color: #fff;
    font-weight: 600;
}

textarea#form_desc {
	height: 150px;
	font-weight: 100 !important;
}

.uploadForm input[type="submit"]
{
	display: table;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    border: 2px solid #fff;
    background: #222;
    color: #fff;
    cursor: pointer;
}

.success h3, .error h3, .notice h3 {
    display: block;
    padding: 6px 25px;
    font-size: 15px;
    color: #fff;
    cursor: default;
}

.success h3:before, .error h3:before, .notice h3:before {
    content: "*";
}

.success, .error, .notice {
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.error {
    background: #ed1b24;
}

.success {
    background: #5cb85c;
}

.notice {
    background: #0063a6;
}

h3.errorMessage {
	font-size: 50px;
    letter-spacing: -3px;
    font-weight: 100;
    padding-bottom: 30px;
    border-bottom: 2px solid #bbb;
    cursor: default;
} 

a.errorLink, div.errorContainer {
	margin: 0 auto;
    display: table;
}

input.errorButton {
	border: 2px solid;
    font-size: 1.4em;
    letter-spacing: -1px;
    padding: 10px 30px;
    background: #fff;
    cursor: pointer;
}